/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-image: url('https://img.freepik.com/free-photo/wooden-table-looking-out-defocussed-room-interior_1048-11830.jpg?t=st=1746877022~exp=1746880622~hmac=249274e12806e2eb8073089e222c2fe982f74e6739212711cab32c59cbbd5e39&w=1800');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
 
.menu {
  max-width: 800px;
  margin: 20px auto;
  padding: 100px 40px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.345);
  text-align: center;
}

h1 {
  color: #3543a1;
  margin-bottom: 35px;
  text-shadow: 1px 2px rgba(53, 67, 161, 0.15);
  font-size: 35px;
  text-align: center;
}

.menulink {
  display: flex;
  flex-direction: line;
  gap: 75px;
  margin-top: 10px;
 
}


.back-link {
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  color: #3c4fa5;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #20253c;
}

/* Menü öğesi görselli */
.menu-secenek {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #eee;
  padding: 14px 0;
  text-align: left;
}

.menu-secenek img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .menu-secenek img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

.item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-info span {
  font-size: 17px;
  color: #444;
}

.item-info strong {
  font-weight: 600;
  color: #3d4db8;
  font-size: 16px;
}

.img-button{
  width: 200px;
  height: 200px;
  border-radius: 25px;
}
.img-button:hover {
  transform: scale(1.3);
  background: linear-gradient(135deg, #3b3f9d, #757bdb);
}

.menulink a{
  text-decoration: none;
  color: #0a1233;
}


/* Mobil uyumluluk */
@media (max-width: 600px) {
  .menu {
    margin: 40px 20px;
    padding: 60px 20px;
  }

  h1 {
    font-size: 24px;
  }

  .menu-button {
    font-size: 16px;
    padding: 12px;
  }

  .menu-secenek img {
    width: 50px;
    height: 50px;
  }

  .item-info span {
    font-size: 16px;
  }

  .item-info strong {
    font-size: 15px;
  }
}
